/android9.si4project/*
/bionic/*
/bootable/*
/build/*
/compatibility/*
/cts/*
/developers/*
/development/*
/device/*
/external/*
/hardware/*
/kernel/*
/libnativehelper/*
/packages/*
/pdk/*
/platform_testing/*
/prebuilts/*
/system/*
/test/*
/toolchain/*
/tools/*
*.zip
*.rar
*.via
*.tmp
*.err
*.3gp
*.mp4
*.hprof
*.graffle
*.compiled
/frameworks/ml/nn/runtime/test/*
/frameworks/base/config/hiddenapi-private-dex.txt
android9.*